@using AntwerpRC.UI.FrontEnd.Models
@model AntwerpRC.BDO.CalenderOverviewItem
@{
    int fixedCellWidth = 150;
    int marginTop = Model.Order * 27;
    string marginTopPx = string.Format("{0}px", marginTop);

}
@if (Model.PlaceHolder)
{
    <div class="calendar-item placeholder"></div>
}
else if (Model.EndDate.Date != Model.StartDate.Date)
{
    
    int cellWidth = (((Model.EndDate - Model.StartDate).Days + 1) * 150) - 5;
    string cellWidthpx = string.Format("{0}px", cellWidth);
    
    <div class="calendar-item m-days" data-calendar-calendarItemId="@Model.Id" style="width: @cellWidthpx;">
        <span>
            @if ((!Model.FullDays && !Model.Splitted) || Model.Splitted && Model.PartOrder==1 && !Model.FullDays)
            {
                <span class="start-hour">@Model.StartDate.ToString("HH:mm")</span>
            }
            <span class="calendar-item-category">@Model.Category:</span> 
            @Html.Partial("Team", new TeamNameContainer { CellWidth = fixedCellWidth, Factor = ((Model.EndDate - Model.StartDate).Days + 1), TeamName = Model.HomeTeam })
            @if (!string.IsNullOrEmpty(Model.AwayTeam))
            {
                @: - @Html.Partial("Team", new TeamNameContainer { CellWidth = fixedCellWidth, Factor = ((Model.EndDate - Model.StartDate).Days + 1), TeamName = Model.AwayTeam })
            }
            @if ((!Model.FullDays && !Model.Splitted) || (Model.Splitted && Model.PartOrder == Model.TotalParts && !Model.FullDays))
            {
                <span class="end-hour">@Model.EndDate.ToString("HH:mm")</span>
            }

        </span>
    </div>
}
else
{
    <div class="calendar-item" data-calendar-calendarItemId="@Model.Id" 
        @if (Model.Splitted)
        {
            @:  style="margin-top:@marginTopPx;"
        }
        >
        
        @if ((!Model.FullDays && !Model.Splitted) || (Model.Splitted && Model.PartOrder == 1 && !Model.FullDays) || (Model.Splitted && Model.PartOrder == Model.TotalParts && !Model.FullDays))
        {
            <div class="calendar-item-hour">
                @Model.StartDate.ToString("HH:mm") - @Model.EndDate.ToString("HH:mm")
            </div>
        }
        <div class="calendar-item-category">@Model.Category</div>
        <div class="calendar-item-teams">
            @Html.Partial("Team", new TeamNameContainer { CellWidth = fixedCellWidth, Factor = ((Model.EndDate - Model.StartDate).Days + 1), TeamName = Model.HomeTeam })
            @if (!string.IsNullOrEmpty(Model.AwayTeam))
            {
                @: - @Html.Partial("Team", new TeamNameContainer { CellWidth = fixedCellWidth, Factor = ((Model.EndDate - Model.StartDate).Days + 1), TeamName = Model.AwayTeam })
            }
        </div>
    </div>
}
