@using System.Globalization
@model IEnumerable<AntwerpRC.BDO.ScoreTableOverview>
<div class="span6 ranking">
    <div class="headline">
        <h3>Klassement</h3>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th><span>category</span></th>
                <th><span>plaats</span></th>
                <th><span>evolutie</span></th>
                <th><span>punten</span></th>
                <th><span>ploeg +</span></th>
                <th><span>ploeg -</span></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var evolution = string.Empty;
                if (item.Evolution == 0)
                {
                    evolution = "--";
                }
                else if (item.Evolution > 0)
                {
                    evolution = "+" + item.Evolution;
                }
                else
                {
                    evolution = item.Evolution.ToString(CultureInfo.InvariantCulture);
                }
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(item.TeamUrl))
                        {
                            <a href="@item.TeamUrl">@item.Team.Category.Description</a>
                        }
                        else
                        {
                            @item.Team.Category.Description
                        }

                    </td>
                    <td>@item.Order
                        @if (item.SharedPlace)
                        {
                            <span>(Gedeeld)</span>
                        }

                    </td>
                    <td>
                        @evolution
                        @if (item.EvolutionDate.HasValue)
                        {
                            <span>(@item.EvolutionDate.Value.ToString("dd-MM-yyyy"))</span>
                        }
                    </td>
                    <td>@item.Points</td>
                    <td>@item.TeamAbove</td>
                    <td>@item.TeamBelow</td>
                </tr>
            }

        </tbody>
    </table>
    <div class="pull-right"><a href="#">Bekijk het volledig klassement</a></div>
</div>

