@using System.Web.Optimization
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "PageBase.cshtml";
}
@section head
{
    <link href="~/Content/less/Slider.min.css" rel="stylesheet" />
}
@section scripts
{
    @Scripts.Render("~/bundles/jquery-sliders")
    <script src="~/scripts/homepage.js"></script>
}

@section Slider
{
    <div class="image-sliders">
        <div class="row-fluid">
            <div class="da-slider" id="da-slider">
                <div class="da-slide">
                    <h2><i>Dames spelen kampioen</i></h2>
                    <a href="#" class="da-link">read more</a>
                    <div class="da-img">
                        <img src="../Content/images/slider_ladies.jpg" alt="Dames spelen kampioen ploegfoto" />
                    </div>
                </div>
                <div class="da-slide">
                    <h2><i>Dames spelen kampioen 2</i></h2>
                    <a href="#" class="da-link">read more</a>
                    <div class="da-img">
                        <img src="../Content/images/slider_ladies.jpg" alt="Dames spelen kampioen ploegfoto" />
                    </div>
                </div>
                <div class="da-slide">
                    <h2><i>Dames spelen kampioen 3</i></h2>
                    <a href="#" class="da-link">read more</a>
                    <div class="da-img">
                        <img src="../Content/images/slider_ladies.jpg" alt="Dames spelen kampioen ploegfoto" />
                    </div>
                </div>
                <nav class="da-arrows">
                    <span class="da-arrows-prev"></span>
                    <span class="da-arrows-next"></span>
                </nav>

            </div>
        </div>
    </div>
}
<div class="row-fluid">
    <div class="span8 text-content">
        <div class="headline">
            <h3>@CurrentPage.HomeWelcomeTitle</h3>
        </div>
        <p>@CurrentPage.HomeWelcomeText</p>
    </div>
    @Umbraco.RenderMacro("GetNewsHomepage")
</div>
<div class="row-fluid">
	@Umbraco.RenderMacro("GetTweetsHomepage")
	@Umbraco.RenderMacro("GetCalenderHomepage")
</div>
<div class="row-fluid">
    @Umbraco.RenderMacro("GetResultsHomepage")
    @Umbraco.RenderMacro("GetRankingHomepage")
</div>

@Umbraco.RenderMacro("GetSponsorsHomePage")