@using System.Web.Optimization
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@Umbraco.Field("seoPageTitle") - Antwerp Rugby Club</title>
    @if (!string.IsNullOrEmpty(Umbraco.Field("seoKeyWords").ToString()))
    {
        <meta name="keywords" content="@Umbraco.Field("seoKeyWords")" />
    }
    @if (!string.IsNullOrEmpty(Umbraco.Field("seoDescription").ToString()))
    {
        <meta name="description" content="@Umbraco.Field("seoDescription")" />

    }
    <link href="http://fonts.googleapis.com/css?family=Arimo" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/boot")
    @Styles.Render("~/Content/jquery-plugins")
    @RenderSection("head", false)
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span6 pull-left">
                        <div class="logo pull-left">
                            <a href="#"><img src="../Content/images/ARC.png" alt="Antwerp Rugby Club logo" /></a>
                        </div>
                        <div class="headline pull-left"><h1>Antwerp Rugby Club</h1></div>
                        
                    </div>

                    <div class="pull-right search">
                        <div class="search-box input-append">
                            <input type="text" class="span10" />
                            <button class="btn" type="button"><b class="icon-search"></b></button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="clearfix"></div>

        </header>
        @RenderSection("Slider", false)
        <div class="container-fluid">

            <nav>
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li class="active">
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="#">Nieuws</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Teams<b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Veteranen</a></li>
                                        <li><a href="/teams/senioren">Senioren</a></li>
                                        <li><a href="#">Dames</a></li>
                                        <li><a href="#">U19</a></li>
                                        <li><a href="#">U17</a></li>
                                        <li><a href="#">U15</a></li>
                                        <li><a href="#">U13</a></li>
                                        <li><a href="#">U11</a></li>
                                        <li><a href="#">U09</a></li>
                                        <li><a href="#">Antwerp Wanckers</a></li>
                                        <li><a href="#">Referees</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Club info<b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Lid worden</a></li>
                                        <li><a href="#">Trainingen</a></li>
                                        <li><a href="#">Ligging</a></li>
                                        <li><a href="#">Lidgelden</a></li>
                                        <li><a href="#">Contact personen</a></li>
                                        <li><a href="#">Geschiedenis</a></li>
                                        <li><a href="#">Formulieren</a></li>
                                        <li><a href="#">Shop</a></li>
                                        <li><a href="#">Handleiding voor beginners</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Foto's</a>
                                </li>
                                <li>
                                    <a href="#">Kalender</a>
                                </li>
                                <li>
                                    <a href="#">Sponsors</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div id="body-wrapper" class="container-fluid">

            @RenderBody()
        </div>
        <footer>
            <div class="container-fluid">
                <div class="row-fluid">

                    <div class="span4 teams">
                        <div class="headline">
                            <h3>Teams</h3>
                        </div>
                        <ul>
                            <li><a href="#">Veteranen</a></li>
                            <li><a href="/teams/senioren">Senioren</a></li>
                            <li><a href="#">Vrouwen</a></li>
                            <li><a href="#">U19</a></li>
                            <li><a href="#">U17</a></li>
                            <li><a href="#">U15</a></li>
                            <li><a href="#">U13</a></li>
                            <li><a href="#">U11</a></li>
                            <li><a href="#">U09</a></li>
                        </ul>

                    </div>
                    <div class="span4 location">
                        <div class="headline">
                            <h3>Ligging</h3>
                        </div>
                        <a href="https://maps.google.be/?q=Antwerp%20Rugby%20Club%20Edegem" target="_blank">
                            <div class="map">
                                @*                                    <img src="../Content/images/map1_BW.jpg" alt="Route Mitterlije, Edegem" data-hover-image-src="../Content/images/map1.jpg" />*@
                            </div>
                            <div class="map">
                                @*                                    <img src="../Content/images/map2_BW.jpg" alt="Route Romeinse Put, Edegem" data-hover-image-src="../Content/images/map2.jpg" />*@
                            </div>
                        </a>
                    </div>
                    <div class="span4">
                        <div class="headline">
                            <h3>Contact info</h3>
                        </div>
                        <address>
                            <b class="icon-home"></b>Mitterlije<br />
                            <b></b>2650 Edegem<br />
                            <b class="icon-envelope"></b><a href="mailto:info@antwerprc.be">info@antwerprc.be</a><br />
                            <b class="icon-phone"></b>+32 3 449.63.93<br />
                            <b class="icon-globe"></b><a href="http://www.antwerprc.be">http://www.antwerprc.be</a>
                        </address>
                        <div class="headline">
                            <h3>Sociaal</h3>
                        </div>
                        <ul class="social-icons">
                            <li><a class="social-twitter"></a></li>
                            <li><a class="social-facebook"></a></li>
                            <li><a class="social-googleplus"></a></li>
                            <li><a class="social-linkedin"></a></li>
                            <li><a class="social-foursquare"></a></li>
                        </ul>
                        <div class="clearfix margin-bottom-15"></div>
                    </div>
                </div>
            </div>
        </footer>
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/boot.js")
        @RenderSection("scripts", required: false)
    </div>
</body>

</html>
